<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Search:
      <input formControlName="control" />
    </label>
  <button type="submit" [disabled]="form.invalid">Search</button>
</form>

<div>
  @if (loading()) {
  <p>Loading...</p>
  } @else if (error()) {
  <pre>Error: {{ jerror() }}</pre>
  } @else if (books(); as b) {
  <label>start: {{ b.start }}</label>
  <label>count: {{ b.num_found }}</label>

  <ul>
    @for (book of b.docs; track book.key) {
    <li>
      <app-book-card [book]="book"></app-book-card>
    </li>
    }
  </ul>
  } @else {
  <p> No search yet :( </p>
  }
</div>

<div>
  <button (click)="updatePage(-1)" [disabled]="loading()">
    [-]
  </button>
  <span>
    {{ page() }}
  </span>
  <button (click)="updatePage(1)" [disabled]="loading()">
    [+]
  </button>
</div>

<p>[{{search()}}:{{page()}}]</p>
